<h1>Clientes</h1>
<%= link_to "Novo Cliente", new_cliente_path, class: "btn btn-primary mb-3" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nome %></td>
        <td><%= cliente.email %></td>
        <td><%= cliente.telefone %></td>
        <td>
          <%= link_to "Mostrar", cliente_path(cliente), class: "btn btn-sm btn-info" %>
          <%= link_to "Editar", edit_cliente_path(cliente), class: "btn btn-sm btn-warning" %>
          <%= link_to "Deletar", cliente_path(cliente), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
