<h1><%= @cliente.nome %></h1>
<p><strong>Email:</strong> <%= @cliente.email %></p>
<p><strong>Telefone:</strong> <%= @cliente.telefone %></p>
<%= link_to 'Editar', edit_cliente_path(@cliente), class: "btn btn-warning" %>
<%= link_to 'Voltar', clientes_path, class: "btn btn-secondary" %>
<%= link_to 'Deletar', cliente_path(@cliente), method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza?" } %>
