<%= form_with(model: @paciente, local: true) do |form| %>
  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :numero_contato %>
    <%= form.text_field :numero_contato %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
