<h1><%= @paciente.nome %></h1>
<p><strong>Idade:</strong> <%= @paciente.idade %></p>
<p><strong>Endereço:</strong> <%= @paciente.endereco %></p>
<%= link_to 'Editar', edit_paciente_path(@paciente), class: "btn btn-warning" %>
<%= link_to 'Voltar', pacientes_path, class: "btn btn-secondary" %>
<%= link_to 'Deletar', paciente_path(@paciente), method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza?" } %>
