<!-- Arquivo: app/views/servicos/index.html.erb -->
<h1>Serviços</h1>
<%= link_to "Novo Serviço", new_servico_path, class: "btn btn-primary mb-3" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @servicos.each do |servico| %>
      <tr>
        <td><%= servico.nome %></td>
        <td><%= servico.descricao %></td>
        <td><%= number_to_currency(servico.preco) %></td>
        <td>
          <%= link_to "Mostrar", servico_path(servico), class: "btn btn-sm btn-info" %>
          <%= link_to "Editar", edit_servico_path(servico), class: "btn btn-sm btn-warning" %>
          <%= link_to "Deletar", servico_path(servico), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
