<h1><%= @servico.nome %></h1>

<p><strong>Descrição:</strong> <%= @servico.descricao %></p>
<p><strong>Preço:</strong> <%= number_to_currency(@servico.preco) %></p>
<p><strong>Tipo de Serviço:</strong> <%= @servico.tipo_servico.nome %></p>
<p><strong>Status:</strong> <%= @servico.status.humanize %></p>
<p><strong>Cliente:</strong> <%= @servico.cliente.nome %></p>

<% if @servico.status == "cadastrado" || @servico.status == "cadastro_em_andamento" %>
  <%= link_to 'Aprovar', aprovar_servico_path(@servico), method: :patch, class: 'btn btn-success' %>
  <%= link_to 'Reprovar', reprovar_servico_path(@servico), method: :patch, class: 'btn btn-danger' %>
<% end %>

<% if @servico.status == "aprovado" %>
  <%= link_to 'Ativar', ativar_servico_path(@servico), method: :patch, class: 'btn btn-success' %>
  <%= link_to 'Pausar', pausar_servico_path(@servico), method: :patch, class: 'btn btn-warning' %>
  <%= link_to 'Desativar', desativar_servico_path(@servico), method: :patch, class: 'btn btn-danger' %>
<% end %>

<%= link_to 'Editar', edit_servico_path(@servico), class: "btn btn-warning" %>
<%= link_to 'Voltar', servicos_path, class: "btn btn-secondary" %>
<%= link_to 'Deletar', servico_path(@servico), method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza?" } %>
