
<h1>Detalhes do Serviço</h1>
<p><strong>Nome:</strong> <%= @servico.nome %></p>
<p><strong>Descrição:</strong> <%= @servico.descricao %></p>
<p><strong>Preço:</strong> <%= number_to_currency(@servico.preco) %></p>
<p><strong>Data do Agendamento:</strong> <%= @servico.data_agendamento.strftime('%d/%m/%Y %H:%M') if @servico.data_agendamento %></p>
<p><strong>Status:</strong> <%= @servico.status.capitalize %></p>

<%= link_to "Voltar para Lista", servicos_path, class: "btn btn-primary" %>
<% if @servico.status != 'confirmado' %>
  <%= link_to "Confirmar Serviço", confirmar_servico_path(@servico), method: :post, class: "btn btn-success" %>
<% end %>
