<!-- Arquivo: app/views/cuidadores/show.html.erb -->
<h1><%= @cuidador.nome %></h1>
<p><strong>Email:</strong> <%= @cuidador.email %></p>
<p><strong>Telefone:</strong> <%= @cuidador.telefone %></p>
<p><strong>Endereço:</strong> <%= @cuidador.endereco %></p>

<%= link_to 'Voltar para Lista', cuidadores_path, class: "btn btn-primary" %>
