<h1>Bem-vindo ao Sistema Apoiar</h1>
<p>Escolha uma das opções abaixo para gerenciar os recursos do sistema:</p>

<ul>
  <li><%= link_to 'Cuidadores', cuidadores_path %></li>
  <li><%= link_to 'Pacientes', pacientes_path %></li>
  <li><%= link_to 'Turnos', turnos_path %></li>
  <li><%= link_to 'Feedbacks', feedbacks_path %></li>
  <li><%= link_to 'Usuários', usuarios_path %></li>
</ul>
