<h1>Gestão de Cuidadores - Admin</h1>

<% @cuidadores.each do |status, cuidadores| %>
  <h2>Status: <%= status.capitalize %></h2>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% cuidadores.each do |cuidador| %>
        <tr>
          <td><%= cuidador.nome %></td>
          <td><%= cuidador.email %></td>
          <td><%= cuidador.status %></td>
          <td>
            <% if cuidador.aprovado? || cuidador.ativo? %>
              <%= link_to "Ativar", update_status_admin_cuidador_path(cuidador, status: "ativo"), method: :patch, class: "btn btn-primary" %>
              <%= link_to "Desativar", update_status_admin_cuidador_path(cuidador, status: "inativo"), method: :patch, class: "btn btn-warning" %>
              <%= link_to "Pausar", update_status_admin_cuidador_path(cuidador, status: "em_pausa"), method: :patch, class: "btn btn-info" %>
              <%= link_to "Demitir", update_status_admin_cuidador_path(cuidador, status: "demitido"), method: :patch, class: "btn btn-danger" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
