
<h1 class="text-center">Realizar Pagamento</h1>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card p-4">
        <%= form_with model: @payment, url: payments_path, local: true, class: "needs-validation" do |form| %>
          <div class="mb-3">
            <%= form.label :valor, "Valor do Pagamento", class: "form-label" %>
            <%= form.number_field :valor, class: "form-control", step: "0.01", required: true %>
          </div>
          <div class="mb-3">
            <%= form.label :metodo_pagamento, "Método de Pagamento", class: "form-label" %>
            <%= form.select :metodo_pagamento, ["Cartão de Crédito", "Boleto", "Pix"], {}, class: "form-select", required: true %>
          </div>
          <div class="text-center">
            <%= form.submit "Pagar", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
