
<h1>Editar Perfil</h1>
<%= form_with model: @usuario, local: true do |form| %>
  <div>
    <%= form.label :nome, "Nome" %>
    <%= form.text_field :nome %>
  </div>
  <div>
    <%= form.label :email, "Email" %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :password, "Nova Senha (opcional)" %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation, "Confirme a Nova Senha" %>
    <%= form.password_field :password_confirmation %>
  </div>
  <div>
    <%= form.submit "Atualizar" %>
  </div>
<% end %>
