<h1>Usuários</h1>
<%= link_to "Novo Usuário", new_usuario_path, class: "btn btn-primary mb-3" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.email %></td>
        <td>
          <%= link_to "Mostrar", usuario_path(usuario), class: "btn btn-sm btn-info" %>
          <%= link_to "Editar", edit_usuario_path(usuario), class: "btn btn-sm btn-warning" %>
          <%= link_to "Deletar", usuario_path(usuario), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
