<h1><%= @usuario.nome %></h1>
<p><strong>Email:</strong> <%= @usuario.email %></p>
<%= link_to 'Editar', edit_usuario_path(@usuario), class: "btn btn-warning" %>
<%= link_to 'Voltar', usuarios_path, class: "btn btn-secondary" %>
<%= link_to 'Deletar', usuario_path(@usuario), method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza?" } %>
