<%= form_with(model: feedback, local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "erro") %> proibiu este feedback de ser salvo:</h2>
      <ul>
        <% feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nivel_satisfacao %>
    <%= form.number_field :nivel_satisfacao %>
  </div>

  <div>
    <%= form.label :cuidador_id, "Cuidador" %>
    <%= form.collection_select :cuidador_id, Cuidador.all, :id, :nome %>
  </div>

  <div>
    <%= form.label :paciente_id, "Paciente" %>
    <%= form.collection_select :paciente_id, Paciente.all, :id, :nome %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
