<h1>Lista de Feedbacks</h1>
<%= link_to 'Novo Feedback', new_feedback_path %>

<table>
  <thead>
    <tr>
      <th>Nível de Satisfação</th>
      <th>Cuidador</th>
      <th>Paciente</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.nivel_satisfacao %></td>
        <td><%= feedback.cuidador.nome %></td>
        <td><%= feedback.paciente.nome %></td>
        <td>
          <%= link_to 'Mostrar', feedback_path(feedback) %> |
          <%= link_to 'Editar', edit_feedback_path(feedback) %> |
          <%= link_to 'Excluir', feedback_path(feedback), method: :delete, data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
