<%= form_with(model: turno, local: true) do |f| %>
  <% if turno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(turno.errors.count, "erro") %> proibiu este turno de ser salvo:</h2>
      <ul>
        <% turno.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :data_inicio %>
    <%= f.datetime_select :data_inicio %>
  </div>

  <div>
    <%= f.label :data_fim %>
    <%= f.datetime_select :data_fim %>
  </div>

  <div>
    <%= f.label :status %>
    <%= f.select :status, Turno.statuses.keys.map { |key| [key.humanize, key] } %>
  </div>

  <div>
    <%= f.label :cuidador_id, 'Cuidador' %>
    <%= f.collection_select :cuidador_id, Cuidador.all, :id, :nome %>
  </div>

  <div>
    <%= f.label :servico_id, 'Serviço' %>
    <%= f.collection_select :servico_id, Servico.all, :id, :nome %>
  </div>

  <div>
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
