<h1>Turno</h1>
<p><strong>Data Início:</strong> <%= @turno.data_inicio %></p>
<p><strong>Data Fim:</strong> <%= @turno.data_fim %></p>
<p><strong>Status:</strong> <%= @turno.status.humanize %></p>
<p><strong>Cuidador:</strong> <%= @turno.cuidador.nome %></p>
<p><strong>Paciente:</strong> <%= @turno.paciente.nome %></p>

<%= link_to 'Editar', edit_turno_path(@turno), class: "btn btn-warning" %>
<%= link_to 'Voltar', turnos_path, class: "btn btn-secondary" %>
<%= link_to 'Deletar', turno_path(@turno), method: :delete, class: "btn btn-danger", data: { confirm: "Tem certeza?" } %>
